:root {
	--bg-color: #282928;
	--text-color: #fff;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

	background-color: var(--bg-color);
	color: var(--text-color);
}

.light-theme {
	--bg-color: #fff;
	--text-color: #000;
}

.link {
	color: rgb(187,0,17);
}

img {
	width: 45vh;
	height: auto;
	margin-top: 10px;
}

.info {
	font-size: 120px;
	font-weight: bold;
}