body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.link {
	color: rgb(187,0,17);
}

img {
	width: 45vh;
	height: auto;
	margin-top: 10px;
}

.info {
	font-size: 120px;
	font-weight: bold;
}