:root {
	--bg-color: #ffffff;
}

.dark-theme {
	--bg-color: #282928;
}

.class_desc {
	border-radius: 25px;
	border: 2px solid black;
	height: fit-content;
	margin: 20px;
	padding: 10px;
	clear: both;
	overflow: auto;
}

.icon {
	width: 270px;
	height: auto;
	float: left;
	margin-right: 10px;
}