.panel {
	background-color: #D9D9D9;
	margin: 20px;
	padding: 15px;
	border-radius: 10px;
}

.table-name {
	float: right;
	margin-right: 5px;
}

#id {
	width: 50px;
}

.img-button {
	background-color: green;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	width: fit-content;
	margin: 10px;
	margin-left: 0;
	cursor: pointer;
	user-select: none;
	width: 30px;
	text-align: center;

	transition: 0.5s;
}

.img-button.off {
	background-color: red;
}

td>img {
	height: 50px;
}

.class {
	background-color: #ffffff;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;

	transition: 0.5s;
}

.class:hover {
	background-color: aquamarine;
}

.class.active {
	background-color: aqua;
}

.basic-section {
	display: block;
	float: left;
	margin: 10px;
}

.sections {
	width: 100%;
	float: left;
}

.add-section-btn {
	background-color: #ccb846;
	width: fit-content;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}

.photo-section {
	width: 272px;
	height: 154px;
}

.section_panel {
	background-color: rgb(177, 177, 177);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.remove_section_panel {
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 25px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 50px;

	transition: 0.5s;
}

.remove_section_panel:hover {
	border-radius: 30%;
}

.add_text_btn {
	background-color: greenyellow;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	user-select: none;
	border: 0;
}

.content_panel {
	background-color: #D9D9D9;
	margin-top: 15px;
	border-radius: 15px;
	padding: 10px;
}

.content_panel textarea {
	width: 99%;
	resize: vertical;
}

.close_btn {
	border: none;
	background-color: #ffffff00;
	position: absolute;
	right: 0;
}