:root {
	--bg-color: #ffffff;
	--profile-box: rgb(228, 228, 228);
	--text: #000000;
}

body {
	background-color: var(--bg-color);
	color: var(--text);
}

.dark-theme {
	--bg-color: #282928;
	--profile-box: #353333;
	--text: #ffffff;
}

.profile_box{
	margin: 20px;
	background-color: var(--profile-box);
	padding: 20px;
	border-radius: 20px;
	min-height: 300px;
}

.prof{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	border: 2px solid black;
	float: left;
	margin-right: 20px;
}

.name {
	font-size: larger;
}

.list {
	width: 100%;
	float: left;
}

.list a {
	color: rgb(230, 9, 27);
}