:root {
	--bg-color: #ffffff;
	--text-color: #000000;
	--blockquote-bg-color: rgb(244,244,244);
	--class-bg: rgb(223, 223, 223);
	--img-bg: lightgrey;
	--img-border: black;
	--red: rgb(187,0,17);
	--creator-info: rgb(85, 85, 85);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.dark-theme {
	--bg-color: #282928;
	--text-color: #ffffff;
	--blockquote-bg-color: rgb(32, 32, 32);
	--class-bg: rgb(65, 63, 63);
	--img-bg: rgb(24, 23, 23);
	--img-border: #ffffff;
	--red: rgb(230, 9, 27);
}

.siteWeb {
	margin: 20px;
}

h1 {
	color: var(--red);
}

.img {
	width: min-content;
	height: min-content;
	border-style: solid;
	border-color: var(--img-border);
	border-width: 1px;
	background-color: var(--img-bg);
	box-shadow: 0px 0px 8px 8px var(--img-bg);
	margin: 8px;
}

.img img {
	outline-style: solid;
	outline-width: 1px;
}

.img p {
	text-align: center;
	margin: 3px;
	font-size: small;
}

a {
	color: var(--red);
}

hr {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

blockquote {
	outline-style: dashed;
	outline-width: 1px;
	outline-color: rgb(154,154,154);
	background-color: var(--blockquote-bg-color);
	width: fit-content;
	height: min-content;
	padding: 1px 10px;
	max-width: 600px;
}

.class {
	background-color: var(--class-bg);
	border-radius: 25px;
	border: 2px solid black;
	width: fit-content;
	padding-top: 5px;
}

.class img {
	width: 70px;
	height: auto;
	margin: 2px;
}

.creator-info {
	color: var(--creator-info);
}

@media only screen and (max-width: 700px) {
	blockquote {
		margin-left: 5px;
		margin-right: 5px;
		max-width: none;
	}

	hr {
		margin: 20px 0 20px 0;
	}
}