body{
	background-color: #2E2E2E;
	color: white;
}

.class_desc {
	border-radius: 25px;
	border: 2px solid black;
	height: fit-content;
	margin: 20px;
	padding: 10px;
	clear: both;
	overflow: auto;
	background-color: #555454;
}

.icon {
	width: 270px;
	height: auto;
	float: left;
	margin-right: 10px;
}